<section class="TodoSection">
        <div class="TodoSection-title">
          <p class="TodoSectionTitle-text"><%= section_title %></h2>
          <p class="todoSectionTitle-remaining"><%= todos.completed.count %>/<%=todos.count %></p>
        </div>
        <ul>
        <% todos.each do |todo| %>
          <li class="TodoItem">
            <label class="TodoItem-container">
              <% if todo.completed%>
              <input class="TodoItem-checkbox" type=checkbox checked>
              <label><%= todo.todo_text %></label>
              <% end %>
              <% if !todo.completed%>
              <input class="TodoItem-checkbox" type=checkbox>
              <label><%= todo.todo_text %></label>
              <% end %>
              <% if todo.completed%>
                 <p class="TodoItem-completestrike"> <%= todo.todo_text %></p>
              <% end %>
              <%if show_due_date%>
                 <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short)%></p>
              <%end%>
                 <a class="TodoItem-delete" href="javascript:void(0)">
                 <img src="./trash-can-outline.svg"><img>
                 </a>
            </label>
          </li>
        <%end%>
        </ul>
  </section>
